@font-face{
    font-family: 'Bebas-Neue-Bold';
    src: url('./../font/BebasNeue-Bold.otf');
}

:root{
    --vermelho:#E50914;
    --preta:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
header .logo-netflix{
    color: var(--vermelho);
    font-family: 'Bebas-Neue-Bold',Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-left: 15px;
    
}


header div nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 25px;
    
}

.selec-nav:hover{
    color: #FFF;
    background: rgba(157, 142, 200, 0.10);
    font-weight: bold;
    
}

header div section{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


header div section a{
    text-decoration: none;
    color: #AAA;
    margin-left: 15px;
}
header div section a i{
    width: 25px;
}
header div section .user{
    margin-left: 15px;
    color: #AAA;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div section .user p{
    margin-left: 10px;
}
header div  section .user img{
    width: 30px;
}

.search-box{
    background: var(--preta);
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
    
}

.search-box:hover > .search-text{
    width: 200px;
    color: #AAA;
    padding: 1px 6px;
}
.search-box:hover >.search-btn{
    background: #AAA;
    color: black;
}

.search-btn{
    color: #AAA;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--preta);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    transition: 0.4s;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    border-radius: 25px;
    width: 0px;
}